@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --font-colour: rgba(255, 255, 255, 1);
  --font-main: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgba(26, 11, 46, 1);
}
.hidden {
  display: none;
}
/* shared styles */
li {
  list-style: none;
}
.contet-mw {
  max-width: 1200px;
  margin: 0 auto;
}
.display {
  display: flex;
  align-items: center;
}
/* header styles */
/* nav styles */
.nav-content {
  justify-content: space-between;
  gap: 19.63rem;
  padding: 1.875rem 0;
}
.links {
  gap: 2rem;
}
a {
  text-decoration: none;
  color: var(--font-colour);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}
.logo {
  color: var(--font-colour);
  font-weight: 800;
  font-size: 2rem;
}
.logo-gradient {
  background: linear-gradient(to bottom, #9100f8, #fb09b4, #f7e93f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  max-width: 135px;
  margin: 0 auto;
  padding: 0.781rem 1rem;
  border: none;
  border-radius: 625rem;
  color: var(--font-colour);
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}
hr {
  border: 1px solid var(--font-colour);
  opacity: 0.1;
}
/* main styles */
/* banner styles */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
}
.banner-content {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 6.3125rem 0;
}
.mic-circle {
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 175px;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  margin-bottom: 2.5rem;
}
.mic-circle img {
  width: 7.25rem;
}
.new-micro {
  position: relative;
}
.new {
  max-width: 75px;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background: rgba(0, 255, 136, 1);
  color: rgba(26, 11, 46, 1);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6rem;
  position: absolute;
  z-index: 1;
  left: 15.75rem;
  bottom: 21.25rem;
}
.banner-text h2 {
  color: var(--font-colour);
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 4.56rem;
  margin-bottom: 0.5rem;
}
.banner-text p {
  color: var(--font-colour);
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.18rem;
  margin-bottom: 1.5rem;
}
.buttons {
  justify-content: center;
  gap: 0.5rem;
}
.btn1,
.btn2 {
  text-align: center;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.18rem;
  border-radius: 62.5rem;
}
.btn1 {
  border: none;
  color: var(--font-colour);
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.btn2 {
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
  background-color: rgba(26, 11, 46, 1);
}
/* about styles */
.about-content {
  max-width: 1200px;
  margin: 3.125rem auto 7.5rem auto;
  text-align: center;
  color: var(--font-colour);
}
.about-content h2,
.choise-content h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.625rem;
  margin-bottom: 1rem;
}
.about-content p {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 5rem;
}
.ab-span {
  display: block;
  margin-top: 3rem;
}
.about-states {
  margin-top: 5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.state {
  display: flex;
  align-items: center;
  max-width: 240px;
  flex-direction: column;
  justify-content: center;
}
.state h3 {
  color: rgba(0, 255, 136, 1);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.625rem;
  margin-bottom: 1rem;
}
.state p {
  margin-bottom: 0rem;
}
/* choice styles */
.choise {
  background: rgba(35, 14, 61, 1);
}
.choise-content {
  padding: 7.5rem 12.5rem;
  color: var(--font-colour);
  text-align: center;
}
.choise-content h2 {
  margin-bottom: 2.5rem;
}
.choise-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "audio mobile mobile"
    "audio community community"
    "interview interview resources";
  gap: 1.9rem;
}
.audio {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.community {
  grid-area: community;
}
.mobile,
.community,
.interview {
  max-width: 790px;
  padding: 2.5rem;
}
.interview {
  grid-area: interview;
}
.resources {
  grid-area: resources;
  max-width: 380px;
  padding: 2.5rem;
}
.audio,
.resources {
  max-width: 380px;
  padding: 2.5rem;
}
.audio,
.mobile,
.community,
.interview,
.resources {
  text-align: left;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}
.audio img,
.mobile img,
.community img,
.interview img,
.resources img {
  max-width: 3.8rem;
  margin-bottom: 1rem;
}
.audio h3,
.mobile h3,
.community h3,
.interview h3,
.resources h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
/* feature styles */
/* Meet the host styles */
/* foooter styles */
/* heading styles */
/* company styles */
/* copyright styles */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* nav styles */
  .container {
    max-width: 960px;
  }
  .nav-content {
    max-width: 900px;
    gap: 11rem;
    padding: 1.25rem 1.25rem;
  }
  /* banner styles */
  .banner-content {
    padding: 3.3125rem 0;
  }
  .banner-text h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .mic-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  .mic-circle img {
    width: 5.5rem;
  }
  .new {
    left: 13.75rem;
    bottom: 15.25rem;
  }
  /* about styles */
  .about-content,
  .choise-content {
    max-width: 900px;
    padding: 1.25rem 1.25rem;
    margin: 1.125rem auto 0.5rem auto;
  }
  .about-content h2,
  .choise-content h2 {
    font-size: 2.5rem;
    line-height: 2.4;
  }
  .about-states {
    padding: 0 1rem;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
  }
  /* choise styles */
  .choise-content h2 {
    margin-bottom: 0.5rem;
  }
  .choise-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .audio,
  .mobile,
  .community,
  .interview,
  .resources {
    padding: 2rem;
  }
  .audio img,
  .mobile img,
  .community img,
  .interview img,
  .resources img {
    max-width: 2.8rem;
  }
  .choise-content h2 {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* nav styles */
  .container {
    max-width: 720px;
  }
  .nav-links,
  .btn {
    display: none;
  }
  .nav-content {
    max-width: 600px;
    margin: 0 auto;
    gap: 22rem;
    padding: 1.25rem 1.25rem;
  }
  .ham-icon {
    display: block;
    color: var(--font-colour);
    font-size: 1.5rem;
  }
  .logo {
    font-size: 2rem;
  }
  /* banner styles */
  .banner-content {
    max-width: 720px;
    padding: 2.5rem 1.25rem;
  }
  .mic-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  .mic-circle img {
    width: 5.5rem;
  }
  .banner-text h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .new {
    left: 12rem;
    bottom: 13.25rem;
    font-size: 1rem;
  }
  /* about styles */
  .about-content,
  .choise-content {
    padding: 0 1rem;
    max-width: 600px;
    margin: 0.125rem auto 0.5rem auto;
  }
  .about-content h2,
  .choise-content h2 {
    font-size: 2.5rem;
    line-height: 2.4;
  }
  .about-content p {
    margin-bottom: 2.5rem;
  }
  .ab-span {
    margin-top: 1.5rem;
  }
  .about-states {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    margin-top: 2.6rem;
  }
  .state h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  /* choise styles */
  .choise-content {
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  .choise-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .audio,
  .mobile,
  .community,
  .interview,
  .resources {
    padding: 1.5rem;
  }
  .audio img,
  .mobile img,
  .community img,
  .interview img,
  .resources img {
    max-width: 2.8rem;
  }
  .choise-content h2 {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  /* nav styles */
  .container {
    max-width: 440px;
  }
  .contet-mw {
    max-width: 400px;
    margin: 0 auto;
  }
  .nav-links,
  .btn {
    display: none;
  }
  .nav-content {
    gap: 0rem;
    padding: 1.25rem 1.25rem;
  }
  .ham-icon {
    display: block;
    color: var(--font-colour);
  }
  .logo {
    font-size: 1.5rem;
  }
  /* banner styles */
  .banner-content {
    max-width: 400px;
    padding: 2.5rem 1.25rem;
  }
  .mic-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  .mic-circle img {
    width: 2.9rem;
  }
  .banner-text h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .new {
    left: 9.75rem;
    bottom: 10.25rem;
    font-size: 0.8rem;
    padding: 0.35rem 0.8rem;
  }
  /* about styles */
  .about-content {
    max-width: 400px;
    padding: 2.5rem 1.5rem;
    margin: 0rem auto 1.5rem auto;
  }
  .about-content p {
    margin-bottom: 2.5rem;
  }
  .about-content h2,
  .choise-content h2 {
    font-size: 2rem;
    line-height: 2.4;
  }
  .ab-span {
    margin-top: 1.5rem;
  }
  .about-states {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    margin-top: 2.6rem;
  }
  .state {
    max-width: 180px;
  }
  .state h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .state P {
    margin-bottom: 0;
  }
  /* choice styles */
  .choise-content {
    max-width: 400px;
    padding: 2.5rem 1.5rem;
    margin: 0 auto;
  }
  .choise-content h2 {
    margin-bottom: 1rem;
  }
  .choise-grid {
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr auto;
    grid-template-areas:
      "audio"
      "mobile"
      "community"
      "interview" "resources";
    gap: 1rem;
  }
  .audio,
  .mobile,
  .community,
  .interview,
  .resources {
    max-width: 400px;
    padding: 1.5rem;
  }
  .audio h3,
  .mobile h3,
  .community h3,
  .interview h3,
  .resources h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
