@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --font-colour: rgba(255, 255, 255, 1);
  --font-main: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgba(26, 11, 46, 1);
}
.hidden {
  display: none;
}
/* shared styles */
li {
  list-style: none;
}
.contet-mw {
  max-width: 1200px;
  margin: 0 auto;
}
.display {
  display: flex;
  align-items: center;
}
/* header styles */
/* nav styles */
.nav-content {
  justify-content: space-between;
  gap: 19.63rem;
  padding: 1.875rem 0;
}
.links {
  gap: 2rem;
}
a {
  text-decoration: none;
  color: var(--font-colour);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}
.logo {
  color: var(--font-colour);
  font-weight: 800;
  font-size: 2rem;
}
.logo-gradient {
  background: linear-gradient(to bottom, #9100f8, #fb09b4, #f7e93f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  max-width: 135px;
  margin: 0 auto;
  padding: 0.781rem 1rem;
  border: none;
  border-radius: 625rem;
  color: var(--font-colour);
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}
hr {
  border: 1px solid var(--font-colour);
  opacity: 0.1;
}
/* main styles */
/* banner styles */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
}
.banner-content {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 6.3125rem 0;
}
.mic-circle {
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 175px;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  margin-bottom: 2.5rem;
}
.mic-circle img {
  width: 7.25rem;
}
.banner-text h2 {
  color: var(--font-colour);
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 4.56rem;
  margin-bottom: 0.5rem;
}
.banner-text p {
  color: var(--font-colour);
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.18rem;
  margin-bottom: 1.5rem;
}
.buttons {
  justify-content: center;
  gap: 0.5rem;
}
.btn1,
.btn2 {
  text-align: center;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.18rem;
  border-radius: 62.5rem;
}
.btn1 {
  border: none;
  color: var(--font-colour);
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.btn2 {
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
  background-color: rgba(26, 11, 46, 1);
}
/* about styles */
/* choice styles */
/* feature styles */
/* Meet the host styles */
/* foooter styles */
/* heading styles */
/* company styles */
/* copyright styles */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* nav styles */
  .container {
    max-width: 960px;
  }
  .nav-content {
    gap: 13rem;
    padding: 1.25rem 1.25rem;
  }
  /* banner styles */
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* nav styles */
  .container {
    max-width: 720px;
  }
  .contet-mw {
    max-width: 540px;
    margin: 0 auto;
  }
  .nav-links,
  .btn {
    display: none;
  }
  .nav-content {
    gap: 0rem;
    padding: 1.25rem 1.25rem;
  }
  .ham-icon {
    display: block;
    color: var(--font-colour);
    font-size: 1.5rem;
  }
  .logo {
    font-size: 2rem;
  }
  /* banner styles */
  .banner-content {
    max-width: 720px;
    padding: 2.5rem 1.25rem;
  }
  .mic-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  .mic-circle img {
    width: 5.5rem;
  }
  .banner-text h2 {
    font-size: 2.9rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 576px) {
  /* nav styles */
  .container {
    max-width: 440px;
  }
  .contet-mw {
    max-width: 400px;
    margin: 0 auto;
  }
  .nav-links,
  .btn {
    display: none;
  }
  .nav-content {
    gap: 0rem;
    padding: 1.25rem 1.25rem;
  }
  .ham-icon {
    display: block;
    color: var(--font-colour);
  }
  .logo {
    font-size: 1.5rem;
  }
  /* banner styles */
  .banner-content {
    max-width: 400px;
    padding: 2.5rem 1.25rem;
  }
  .mic-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  .mic-circle img {
    width: 2.9rem;
  }
  .banner-text h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
